<div class="container-fluid">
  <div class="col-md-10 offset-md-4">
    <h1>Solicitações de Livros</h1><br>
  </div>
  <%= render "books/form",book: Book.new %>
  <br><br>

  <div class="col-md-10 offset-md-6">
    <%= image_tag 'book', width: 50, height: 46%>
  </div>
  <div class="col-md-10 offset-md-4">
    <h1>Tabela de Solicitação</h1>
  </div>
  <div class="col-md-10 offset-md-1">
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col">Vinculo</th>
          <th scope="col">Titulo</th>
          <th scope="col">Autor</th>
          <th scope="col">Edição</th>
          <th scope="col">Issn</th>
          <th scope="col">Ano</th>
          <th scope="col">Editora</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <% @books.each do |book| %>
        <tbody>
          <tr>
            <td><%= book.vinculo%></td>
            <td><%= book.titulo%></td>
            <td><%= book.autor%></td>
            <td><%= book.edicao%></td>
            <td><%= book.issn%></td>
            <td><%= book.ano%></td>
            <td><%= book.editora%></td>
            <td><%= button_to 'Excluir', book, method: :delete, form: { data: { turbo_confirm: "Tem certeza que deseja exluir esse livro?" } }, class: "btn btn-destroy" %></td>
          </tr>
        </tbody>
      <%end%>
    </table>
  </div>
</div>
